{% extends "base.html" %}

{% block content %}
  <div class="vstack gap-4 mt-3">
    <!-- Search bar -->
    <div class="d-flex flex-column justify-content-center align-items-center"
         style="height: 90vh">
      <h1 class="text-primary" style="text-align: center; height: 10vh">Solubility of Chameleonic Molecules Predictor</h1>
      <form action='{{ url_for("get_properties") }}'
            method="GET"
            style="width: 50%;
                   max-width: 800px">
        <div class="input-group input-group-lg">
          <input type="text"
                 name="query"
                 id="compound-search-field"
                 class="form-control form-control-lg"
                 placeholder="Enter molecule here..."
                 value="{{ smiles_query }}">
          <button type="submit" class="btn btn-primary btn-lg">Search</button>
        </div>
      </form>
    </div>

    <!-- Search results -->
    {% if smiles_query|length > 0 %}
      <div class="giant-square"
           style="width: 100vw;
                  height: 100vh;
                  background-color: white;
                  margin: 0;
                  position: fixed;
                  z-index: 9999"></div>
      <div class="properties-container"
           style="height:100vh;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  position: fixed;
                  z-index: 10000">
        <img src="/home/user3/kinaseHTGS/images/mol1.png"
             alt="Image"
             style="max-width: 50%;
                    margin-right: 20px">
        <div class = "properties" style = "z-index: 10001; font-size: 60px">
          <b>NROT = {{ Nrot_value }}</b>
          <br>
          <b>HBD = {{ HBD_value }}</b>
          <br>
          <b>HBA = {{ HBA_value }}</b>
        </div>
      </div>
    </div>
  {% else %}

  {% endif %}
</div>
{% endblock content %}

{% block styles %}
  <style>
  .compound-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    gap: 2rem;
    justify-items: center;
  }

  .compound-card-container {
    width: 15rem;
  }
  </style>
{% endblock styles %}
