{% extends "base.html" %}

{% block content %}
  <div class="vstack gap-4 mt-3">
    <!-- Search bar -->
    <div class="d-flex flex-column justify-content-center align-items-center"
         style="height: 90vh">
      <h1 class="text-primary"
          style="text-align: center;
                 height: 10vh;
                 color: white !important">Solubility of Chameleonic Molecules Predictor</h1>
      <form action='{{ url_for("get_properties") }}'
            method="GET"
            style="width: 50%;
                   max-width: 300px">
        <div class="input-group input-group-lg">
          <input type="text"
                 name="query"
                 id="compound-search-field"
                 class="form-control form-control-lg"
                 placeholder="Enter molecule here..."
                 value="{{ smiles_query }}"
                 style="background-color: #021658;
                        color:white">
          <button type="submit"
                  class="btn btn-primary btn-lg"
                  style="background-color: #02165a;
                         border: 1px solid white">Search</button>
        </div>
      </form>
    </div>

    <!-- Search results -->
    {% if smiles_query|length > 0 %}
      <div class="giant-square"
           style="width: 100%;
                  height: 100%;
                  position: fixed;
                  top: 0;
                  left: 0;
                  z-index: 9999;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  overflow: hidden;
                  background-size: cover;
                  background-position: center">
        <img src="{{ url_for('static', filename='bkg.png') }}">
      </div>

      <!-- Parent container to hold image and properties side by side -->
      <div class="content-container"
           style="height: 100vh;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  position: fixed;
                  z-index: 10000;
                  gap: 20px;
                  /* Space between image and properties */">
        <!-- Image -->
        <div class="image"
             style="display: flex;
                    justify-content: center;
                    align-items: center">
          <img src='{{ url_for("get_molecule_image") }}?smiles_query={{ smiles_query|urlencode }}'
               class="card-img-top w-100 overflow-hidden"
               style="width: 50%;
                      height: 50%">
        </div>

        <!-- Properties -->
        <div class="properties"
             style="font-size: 20px;
                    color: white;
                    display: flex;
                    flex-direction: column;
                    justify-content: center">
          <b>Number of rotational bonds = {{ Nrot_value }}</b>
          <br>
          <b> Hydrogen bond donors = {{ HBD_value }}</b>
          <br>
          <b>Hydrogen bond acceptors = {{ HBA_value }}</b>
          <br>
          <b>Molecular weight = {{ mw_value }}</b>
          <br>
          <b>Topological polar surface area = {{ tpsa_value }}</b>
          <br>
          {% if label == "Highly Soluble" %}
            <b style="color:aqua;
                      display: flex;
                      flex-direction: column;
                      justify-content: center;
                      font-size:50px">{{ label }}</b>
          {% elif label == "Soluble" %}
            <b style="color:rgb(34, 255, 0);
                      display: flex;
                      flex-direction: column;
                      justify-content: center;
                      z-index: 10001;
                      font-size:50px">{{ label }}</b>
          {% elif label == "Low Solubility" %}
            <b style="color:rgb(255, 162, 0);
                      font-size:50px;
                      z-index: 10001;
                      display: flex;
                      flex-direction: column;
                      justify-content: center">{{ label }}</b>
          {% elif label == "Insoluble" %}
            <b style="color:rgb(255, 0, 0);
                      font-size:50px;
                      z-index: 10001;
                      display: flex;
                      flex-direction: column;
                      justify-content: center;
                      align-items: center;
                      margin-right: 5%">{{ label }}</b>
          {% endif %}
        </div>
      </div>

      <b>Number of rotatable bonds = {{ Nrot_value }}</b>
      <br>
      <b>Hydrogen bond donors = {{ HBD_value }}</b>
      <br>
      <b>Hydrogen bond acceptors = {{ HBA_value }}</b>
      <br>
      <b>Molecular weight = {{ mw_value }}</b>
      <br>
      <b>Topological polar surface area = {{ tpsa_value }}</b>
      <br>
    </div>
  </div>
</div>
{% else %}

{% endif %}
</div>
{% endblock content %}

{% block styles %}
  <style>
  .compound-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    gap: 2rem;
    justify-items: center;
  }

  .compound-card-container {
    width: 15rem;
  }
  #compound-search-field::placeholder {
      color: white;
    }
  </style>
{% endblock styles %}
